html
h1{
    color: white;

}
{
    background: purple;
}

body
{
    margin: 5% 25%;
    text-align: left;
    background: purple;
}



article
{
    margin: 10px;
    background: purple;
    padding-bottom:70px;
    width: 100%;
}

input
{
    width: 100%;
}

strong {

    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
section
{
    text-align: center;
}

p{
    text-align: left;
}